<div class="card">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="card bg-warning text-dark bg-opacity-10">
  <p><%= @answer %>
  <p>-Your coach</p>
</div>
<div class="mx-5">
  <a href="/ask">Ask a new question</a>
</div>
